/******************************************************/
/* GENERAL PROPERTIES */
/******************************************************/

* {
    padding: 0;
    margin: 0;
}

html {
    /* 
    For mobile browser compatability (sliding search-bars or overlays)
    We set HTML element to these parameters, and then any container element to:
    1. position: fixed
    2. height: 100%
    3. width 100%
     */
    height: 100vh;
    width: 100vw;
}

html, body {
    font-size: 62.5%;

    font-family: 'Urbanist', sans-serif;
    line-height: 1;
    font-weight: 400;

    touch-action: none;
    touch-action: pan-y;
}

a, label {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

/******************************************************/
/* SWUP ANIMATIONS */
/******************************************************/
.transition-backdrop {
    transition: all 0.4s ease-in;
}

html.is-leaving .transition-backdrop {
    transform: scale(3);
}

.transition-fade {
    transition: 0.4s ease-in;
    opacity: 1;
}

html.is-leaving .transition-fade {
    opacity: 0;
}

html.is-animating .transition-fade {
    opacity: 0;
}

/******************************************************/
/* INDEX */
/******************************************************/
.index-container {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    width: 100%;
    background-color: #111;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.intro-animation-container {
    display: inherit;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform:scale(0.5, 0.5);
    -webkit-transform:scale(0.5, 0.5);

    animation: fadein_onload 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes fadein_onload {
    0% {
        opacity: 0;
        transform:scale(0.5, 0.5);
        -webkit-transform:scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform:scale(1, 1);
        -webkit-transform:scale(1, 1);
    }
}

.backdrop {
    z-index: 2;
}

.backdrop-link,
.backdrop-img {
    max-width: 80vw;
    max-height: 80vh;
}

.title-box {
    position: absolute;
    width: 35vw;
    max-width: 256px;
    z-index: 3;

    object-fit: contain;

    pointer-events: none;
    box-sizing: border-box;
}

.title-logo {
    width: 100%;
    height: auto;
}

/******************************************************/
/* HEADER */
/******************************************************/
.header {
    display: flex;
    display: -webkit-flex;
    /* Fixed height for header because it is "sticky", for consistency */
    /* default height 6.4rem */
    height: 6.4rem;
    max-width: 114.4rem;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid;
    border-color: #fff;

    margin: 0 auto;
    padding: 0 2.8rem;

    /* Push header content apart */
    justify-content: flex-end;
    align-items: center;

    /* Blur background objects */
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px) grayscale(100%);
    -webkit-backdrop-filter: blur(6px) grayscale(100%);

    position: fixed;
    z-index: 9999;

    opacity: 0;
    transition: opacity 0s;

    pointer-events: none;
}

.header--tall {
    height: 12.8rem;
}

.header--active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.4s;
}

/* Constant header logo */
.header-logo-link:link,
.header-logo-link:visited {
    position: absolute;
    top: 1.2rem;
    left: 2.8rem;
    display: inline-block;
    text-decoration: none;
    width: min-content;
    font-size: 2.4rem;
    color: #111;
    letter-spacing: -0.15rem;
    font-weight: 900;
    line-height: 2rem;

    text-transform: uppercase;
    white-space: pre-line;

    box-sizing: border-box;
}

.header-logo-link::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 3px;
    top: 100%;
    transform: translateX(-50%) scaleX(0);
    background-color: #111;
    transition: all 0.2s ease-out;
}

.header-logo-link:hover::after,
.header-logo-link:active::after {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}

/******************************************************/
/* NAV */
/******************************************************/
.nav {
    position: relative;
    z-index: 9999;
    width: 30%;
}

.nav-list {
    list-style: none;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link:link,
.nav-link:visited,
.instagram-logo:link,
.instagram-logo:visited {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: -0.05rem;

    box-sizing: border-box;
}

.nav-link::after,
.instagram-logo::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    top: 100%;
    transform: translateX(-50%) scaleX(0);
    background-color: #111;
    transition: all 0.2s ease-out;
}

.nav-link:hover::after,
.nav-link:active::after,
.instagram-logo:hover::after,
.instagram-logo:active::after {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}

.instagram-logo {
    width: 1.6rem;
    height: 1.6rem;
}

/* MOBILE BTN */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    position: absolute;
    right: 2.8rem;
    top: 2rem;
    height: 2.4rem;
    width: 2.4rem;
    color: #111;

    opacity: 1;
    transition: opacity 0.2s;
}

.icon-mobile-nav[alt="close-sharp"] {
    opacity: 0;
}

/******************************************************/
/* PORTFOLIO */
/******************************************************/
.portfolio-container {
    max-width: 114.4rem;
    margin: 7.2rem auto;
    padding: 0 2.8rem;
}

.portfolio-grid {
    position: relative;
}

.gutter-sizer {
    width: 0.5%;
}

.grid-sizer,
.grid-item {
    width: 33%;
}

.grid-item {
    overflow: hidden;
    margin-bottom: 0.3%;
}

.grid-link {
    opacity: 1;
    transition: opacity 0.2s;
}

.grid-link:hover {
    opacity: 0.8;
}

.grid-img,
.grid-video {
    width: 100%;
    height: 100%;

    opacity: 0;
    transform: translateY(-20%);
}

.grid-video[poster]{
    object-fit:fill
}

.data-loaded {
    animation: anim_onload 0.6s cubic-bezier(.3,.5,.5,1);
    animation-fill-mode: forwards;
}

@keyframes anim_onload {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/******************************************************/
/* GALLERY */
/******************************************************/

.glry-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 114.4rem;
    margin: 0 auto;
    padding: 7.2rem 2.8rem 2.8rem;

    
}

.canvas {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 4.8rem;
    left: 0;
    right: 0;
    overflow: hidden;

    justify-content: center;
    align-items: center;
}

.img-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.img-container img.visible {
    opacity: 1;
}

.glry-controls {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    width: 100%;
    bottom: 0;
    color: #111;
}

.glry-controls label {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    width: 50%;
    z-index: 1000;

    opacity: 1;
    transition: opacity 0.3s;
}

.glry-controls label:hover {
    opacity: 0.3;
}

#left-control {
    justify-content: flex-start;
}

#right-control {
    justify-content: flex-end;
}

.glry-controls img {
    height: 2.2rem;
    width: auto;
}

.dots-container {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.dots-container span {
    display: block;
    width: 0.3rem;
    background-color: #111;
    margin: 0 2rem;
    
    opacity: 0.2;
    height: 1rem;
    transition: opacity 0.4s;
}

.dots-container span.visible {
    opacity: 1;
    height: 2.2rem;
}

/******************************************************/
/* ABOUT */
/******************************************************/

.about-container {
    max-width: 114.4rem;
    margin: 13.4rem auto;
    padding: 0 2.8rem;
}

/******************************************************/
/* CONTACT */
/******************************************************/

.contact-container {
    max-width: 50rem;
    margin: 13.4rem auto;
    padding: 0 2.8rem;
}

.contact-form {
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
  
.contact-form label {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {   
    width: 100%;
    display: block;
    padding: 1.2rem;
    margin-bottom: 2.4rem;

    box-sizing: border-box;

    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    border: 0.01rem #111 solid;

    /* For Safari Mobile */
    border-radius: 0px !important;
}

.contact-form textarea {
    margin-bottom: 3.8rem !important;
    resize: vertical;
}

.contact-form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.15rem #111;
}

.contact-form button {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.1rem 3.2rem 1rem 3.2rem;
    color: #fff;
    background-color: #111;

    border: none;
    cursor: pointer;

    opacity: 1;
    transition: opacity 0.2s;
}

.contact-form button:hover {
    opacity: 0.8;
}

/******************************************************/
/* SUBMIT */
/******************************************************/

.submit-container {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    width: 100%;
    background-color: #111;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.message-box {
    max-width: 50vw;
    max-height: 50vh;
}

.message-title {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 900;
    line-height: 6rem;

    text-transform: uppercase;
    white-space: pre-line;
}

.message-text {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 800;
    line-height: 2rem;

    text-transform: uppercase;
    white-space: pre-line;
}

.message-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    line-height: 10rem;

    white-space: pre-line; 
}