/******************************************************/
/* 592px WV */
/******************************************************/

@media (min-width: 37rem) {
  .glry-controls label {
    align-items: center;
  }
}

/******************************************************/
/* 800px WV */
/******************************************************/

@media (min-width: 50rem) {
  html.is-leaving .transition-scale{
    transform: scale(4);
  }

  .portfolio-grid {
    columns: 3;
  }
}

/******************************************************/
/* 1088px WV */
/******************************************************/

@media (min-width: 68rem) {
  html.is-leaving .transition-scale{
    transform: scale(5);
  }

  .portfolio-grid {
    columns: 4;
  }
}

/******************************************************/
/* 1344px WV */
/******************************************************/

@media (min-width: 84rem) {
  html.is-leaving .transition-scale{
    transform: scale(6);
  }
}