/*
--- 01 TYPOGRAPHY

  Font sizes (rem)
    1 / 1.2 / 1.4 / 1.6 / 1.8
  / 2 / 2.4 / 3 / 3.6 / 4.4
  / 5.2 / 6.2 / 7.4 / 8.6 / 9.8

  Font weights:
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

  Line heights:
    Default: 1
    Small: 1.05
    medium: 1.2
    Paragraph default: 1.6

  Letter spacing:
    large bold: -0.5px
    small uppercase: 0.75px

--- 02 COLORS

  Primary Color: 
    #111

  Tints:
    #767676 (lightest grey allowed on #fff)

  Accents:
  


--- 03 IMAGES


--- 04 ICONS


--- 05 SHADOWS


--- 06 BORDER-RADIUS

  Default: none
  
  
--- 07 WHITESPACE

  Spacing system(rem)
    0.2 / 0.4 / 0.8 / 1.2 / 1.6
  / 2.4 / 3.2 / 4.8 / 6.4 / 8
  / 9.6 / 12.8


*/

/******************************************************/
/* GENERAL PROPERTIES */
/******************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: 'Urbanist', sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
  color: #fff;
}

/******************************************************/
/* PAGE TRANSITIONS */
/******************************************************/
.transition-scale {
  transition: 0.5s ease-in;
  opacity: 1;
}

html.is-animating .transition-scale {
  opacity: 0;
}

html.is-leaving .transition-scale {
  opacity: 1;
  transform-origin: center;
  transform: scale(3);
}

/******************************************************/
/* INDEX */
/******************************************************/
.section-index {
  display: flex;
  padding: 3.2rem;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  justify-content: center;
  align-items: center;
}

.backdrop-img {
  max-width: 100%;
  max-height: 90vh;
}

/******************************************************/
/* PORTFOLIO */
/******************************************************/
.section-portfolio {
  display: flex;
  padding: 3.2rem;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  justify-content: center;
  align-items: center;
}