/*
--- 01 TYPOGRAPHY

  Font sizes (rem)
    1 / 1.2 / 1.4 / 1.6 / 1.8
  / 2 / 2.4 / 3 / 3.6 / 4.4
  / 5.2 / 6.2 / 7.4 / 8.6 / 9.8

  Font weights:
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700
    --: 800
    ---: 900

  Line heights:
    Default: 1
    Small: 1.05
    medium: 1.2
    Paragraph default: 1.6

  Letter spacing:
    large bold: -0.5px
    small uppercase: 0.75px

--- 02 COLORS

  Primary Color: 
    #111

  Tints:
    #767676 (lightest grey allowed on #fff)

  Accents:
  


--- 03 IMAGES


--- 04 ICONS


--- 05 SHADOWS


--- 06 BORDER-RADIUS

  Default: none
  
  
--- 07 WHITESPACE

  Spacing system(rem)
    0.2 / 0.4 / 0.8 / 1.2 / 1.6
  / 2.4 / 3.2 / 4.8 / 6.4 / 8
  / 9.6 / 12.8


*/

/******************************************************/
/* GENERAL PROPERTIES */
/******************************************************/

* {
    padding: 0;
    margin: 0;
}

html, body {
  font-size: 62.5%;

  font-family: 'Urbanist', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #111;

  touch-action: none;
  touch-action: pan-y;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color:  transparent; 
}

::-webkit-scrollbar { 
  display: none; 
}

/******************************************************/
/* SWUP ANIMATIONS */
/******************************************************/
.transition-backdrop {
  transition: 0.6s ease-in;
  opacity: 1;
}

html.is-leaving .transition-backdrop {
  transform: scale(3);
}

.transition-fade {
  transition: 0.3s ease-in;
  opacity: 1;
}

html.is-leaving .transition-fade {
  opacity: 0;
}

html.is-animating .transition-fade {
  opacity: 0;
}
/* 
html.is-animating .header {
  opacity: 0;
} */

/******************************************************/
/* INDEX */
/******************************************************/
.container-index {
  display: flex;
  height: 100vh;
  width: auto;
  padding: 0 3.2rem;
  background-color: #111;
  justify-content: center;
  align-items: center;
  position: relative;

  overflow: hidden;
}

.backdrop {
  z-index: 1;
}

.backdrop-link,
.backdrop-img {
  max-width: 100%;
  max-height: 80vh;
}

.title-box {
  position: absolute;
  width: 24rem;
  height: 4rem;
  z-index: 2;

  text-align: center;

  pointer-events: none;
}

.title-text {
  font-size: 1.6rem;
  color: #111;
  letter-spacing: -0.15rem;
  font-weight: 900;
  line-height:2rem;

  text-transform: uppercase;
  
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  box-shadow: 0 0 20rem 20rem #111;
  bottom: 0;
  z-index: 9999;
  transform-origin: bottom;
  
  transform: scaleY(0);
  animation: dropAnimation linear 1s;
}

@keyframes dropAnimation {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

/******************************************************/
/* HEADER */
/******************************************************/
.header {
  display: flex;
  /* Fixed height for header because it is "sticky", for consistency */
  height: 4.8rem;
  max-width: 114.4rem;

  margin: 1.6rem auto;
  padding: 0 3.2rem;

  /* Push header content apart */
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  position: relative;

  /* transition: 0.3s ease-in;
  opacity: 1; */
}

/******************************************************/
/* PORTFOLIO */
/******************************************************/
.portfolio-container {
  max-width: 114.4rem;
  margin: 1.6rem auto;
  padding: 0 3.2rem;
}

.portfolio-grid {
  position: relative;
}

.grid-item {
  position: absolute;
}

.grid-item img {
  width: 100%;
  height: auto;

  object-fit: contain;

  transition: all 0.3s;
}

.grid-item img:hover {
  opacity: 0.8;
}

/******************************************************/
/* GALLERY */
/******************************************************/

.glry {
  max-width: 114.4rem;
  margin: 1.6rem auto;
  padding: 0 3.2rem;
  height: calc(100vh - 11.2rem);
}

ul.slides {
  display: block;
  position: relative;
  height: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul.slides input {
  display: none; 
}

.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 9.6rem;
  opacity: 0;
  transition: all .5s ease-in-out;
} 

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.glry-controls {
  display: flex;
  position: absolute;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: #111;
}

.glry-controls label {
  display: none;
  cursor: pointer;
  align-items: flex-end;
  width: 50%;
  z-index: 9999;

  opacity: 0.3;
  transition: all 0.3s;
}

.glry-controls label:hover {
  opacity: 1;  
}

.glry-controls .prev-slide {
  justify-content: left;
}

.glry-controls .next-slide {
  justify-content: right;
}

.glry-controls img {
  height: 2.2rem;
  width: auto;
}

.glry-dots {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 1rem;
  bottom: 0;
  left: 40%;
  right: 40%;
  z-index: 9999;
}

.glry-dots .glry-dot {
  width: 0.2rem;
  height: 1.2rem;
  background-color: #111;
  opacity: 0.3;
  align-self: center;

}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

input:checked + .slide-container .glry-controls label {
  display: flex; 
}

input#img-1:checked ~ .glry-dots label#img-dot-1,
input#img-2:checked ~ .glry-dots label#img-dot-2,
input#img-3:checked ~ .glry-dots label#img-dot-3,
input#img-4:checked ~ .glry-dots label#img-dot-4,
input#img-5:checked ~ .glry-dots label#img-dot-5 {
	opacity: 1;
  height: 2rem;
}